test/fixtures/log/junit.xml
test/fixtures/log/test_order.log
test/fixtures/log/test_data.json
/.byebug_history
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/ci/queue/redis/*.lua
test_order.log
